body{
  background-image: url('./stockcar.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

html{
  height: 100%;
  overflow: hidden;
}

/* Main App Page */
.App{
  margin-top: 150px;
}

.App h1, h4{
  text-align: center;
  position: relative;
  color: white;
  font-family: 'Sheeping Cats', sans-serif;
  letter-spacing: 10px;
  font-size: 150px;
  transform: skewX(-20deg);
}

.App h4{
  font-size: 20px;
  font-weight: 400;
  top: -75px;
}

/* Shared Element Stylings */
.navigation_dropdown{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: white;
  font-family: 'Sheeping Cats', sans-serif;
  font-size: 26px;
  padding: 10px;
}

.selected{
  color: #E92CA0;
}

.nav-link{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover{
  background: #E92CA0;
}

.large_container{
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

#main_footer{
  color: white;
  text-align: center;
  position: relative;
  bottom: 5px;
  width: 100%;
}

/* Trending Page */
#trending_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

.trends_container{
  border: 2px solid yellow;
  width: 30%;
}

.trends_container p{
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Watching Page */
#watching_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

.small_watch_container{
  border: 1px solid yellow;
  display: flex;
  flex-flow: row nowrap;
  width: 45%;
}

.small_watch_container p{
  width: 100%;
  text-align: center;
}

/* Search Page */
#search_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

.search_display{
  border: 2px solid yellow;
  width: 45%;
}

/* Marketplace Page */
#marketplace_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

/* Help page */
#help_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

/* Media Queries */
@media (max-width: 850px){
  .navigation_dropdown{
    flex-flow: column nowrap;
  }
}
