body{
  background-image: url('./stockcar.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

html{
  height: 100%;
  overflow: hidden;
}

/* Main App Page */
.App{
  margin-top: 150px;
}

.App h1, h4{
  text-align: center;
  position: relative;
  color: white;
  font-family: 'Sheeping Cats', sans-serif;
  letter-spacing: 10px;
  font-size: 125px;
  transform: skewX(-20deg);
}

.App h1{
  top: 50px;
}

.App h4{
  font-size: 20px;
  font-weight: 400;
  top: -25px;
}

/* Shared Element Stylings */
.nav_container{
  width: 100%;
  height: 100%;
  position: absolute;
}

.nav_secondary_container{
  width: 100px;
  height: 100px;
  background-image: url('./Gauge-PNG-Pic.png');
  background-size: cover;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.navigation_dropdown{
  display: none;
  position: absolute;
  width: 100px;
  padding: 10px;
  z-index: 1;
  top: 20px;
  color: white;
  font-family: 'Sheeping Cats', sans-serif;
  font-size: 20px;
}

.nav_secondary_container:hover .navigation_dropdown{
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  top: 25px;
  left: 100px;
}



.selected{
  color: #E92CA0;
}

.nav-link{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover{
  background: #E92CA0;
}

.large_container{
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

#main_footer{
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Trending Page */
#trending_container{
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 120px;
  font-size: 72px;
}

.trends_container{
  border: 2px solid yellow;
  width: 30%;
  position: relative;
  top: 10px;
  height: 75%;
}

.trends_container p{
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Watching Page */
#watching_container{
  position: absolute;
  width: 100%;
  color: white;
  top: 120px;
}

.small_watch_container{
  border: 1px solid yellow;
  display: flex;
  flex-flow: row nowrap;
  width: 45%;
  height: 75%;
}

.small_watch_container p{
  width: 100%;
  text-align: center;
}

/* Search Page */
#search_container{
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 120px;
}

.search_display{
  border: 2px solid yellow;
  width: 45%;
  height: 75%;
}

.form_container{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

/* Marketplace Page */
#marketplace_container{
  border: 1px solid white;
  color: white;
  position: absolute;
  width: 100%;
  top: 120px;
  height: 75%;
  text-align: center;
}

/* Help page */
#help_container{
  border: 1px solid white;
  color: white;
  position: absolute;
  width: 100%;
  top: 120px;
  height: 75%;
  text-align: center;
}

/* Media Queries */
@media (max-width: 850px){
  .navigation_dropdown{
    flex-flow: column nowrap;
  }
  .App h1, h4{
    display: none;
  }
}
