@import url('https://fonts.googleapis.com/css?family=K2D');

body{
  background-image: url('./stockcar.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

html{
  height: 100%;
  overflow: hidden;
}

/* Main App Page */
.App{
  margin-top: 150px;
}

.App h1, h4{
  text-align: center;
  position: relative;
  color: white;
  font-family: 'Sheeping Cats', sans-serif;
  letter-spacing: 10px;
  font-size: 150px;
  transform: skewX(-20deg);
}

.App h4{
  font-size: 20px;
  font-weight: 400;
  top: -75px;
}

.App .main_menu{
  height: 200px;
}

.App .main_nav{
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 0px;
  text-decoration: underline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 20px;
  list-style-type: none;
  font-family: 'Sheeping Cats', sans-serif;
  font-size: 20px;
  color: white;
}

.App .main_nav a{
  cursor: pointer;
}

.App .main_nav a:hover{
  mix-blend-mode: hard-light;
  color: violet;
}

/* Trending Page */
#trending_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

/* Watching Page */
#watching_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

/* Search Page */
#search_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

/* Marketplace Page */
#marketplace_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}

/* Help page */
#help_container{
  border: 1px solid white;
  color: white;
  text-align: center;
}
